# Example env variables used across the project.
# Update the values and rename the file to .env.local to run the project with backend functionalities.
# Make sure not to commit the .env.local file to git.

# ------ APPWRITE CORE ------
EXPO_PUBLIC_APPWRITE_API_ENDPOINT=
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_CRIC_TALK_DATABASE_ID=

# ------ POSTS ------
EXPO_PUBLIC_APPWRITE_POSTS_TABLE_ID=
EXPO_PUBLIC_APPWRITE_POSTS_GUARD_FUNCTION_ID=
EXPO_PUBLIC_APPWRITE_COMMENTS_TABLE_ID=
EXPO_PUBLIC_APPWRITE_COMMENTS_GUARD_FUNCTION_ID=

# ------ ROOMS ------
EXPO_PUBLIC_APPWRITE_ROOMS_GUARD_FUNCTION_ID=
EXPO_PUBLIC_APPWRITE_ROOMS_TABLE_ID=
EXPO_PUBLIC_APPWRITE_ROOM_MESSAGE_GUARD_FUNCTION_ID=
EXPO_PUBLIC_APPWRITE_ROOM_MESSAGE_TABLE_ID=

# ------ USERS ------
EXPO_PUBLIC_APPWRITE_USERS_TABLE_ID=
EXPO_PUBLIC_APPWRITE_USER_PUSH_TOKEN_GUARD_FUNCTION_ID=
EXPO_PUBLIC_APPWRITE_LEADERBOARD_GUARD_FUNCTION_ID=

# ------ NOTIFICATIONS ------
EXPO_PUBLIC_NOTIFICATIONS_GUARD_FUNCTION_ID=